/_minted-main
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.out
*.run.xml
*.tdo
*.toc

/media/svg/*.pdf
/media/svg/*.pdf_tex

/main.tex
/main.pdf
/MT_Dite_Mikulas_2019.pdf
/MT_Dite_Mikulas_2019.txt

/src/**/.vagrant
